<head>
<style>
body{
  background: url('https://d2dog1d9ysauaf.cloudfront.net/attachments/59478b278541a4141461147c6e21f2160cb28d9f/store/a1b637712bb235a9c53a3cfe975b8926a81500666aeeeed1a1cc41f1f80d/large-monthly-planner.png');;
}
</style>

</head>
<body>
    <div class = "jumbotron">
      <h3><u>A home dinner service</u></h3>
      <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.</p>
      <a href="#search" class="btn btn-primary">Create new dinner</a>
    </div>
</body>